<div class="container p-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">INDQ Events</h3>
                    <p class="card-text text-center">Registro</p>
                    <form action="/users" method="POST" class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Nombre(s)</label>
                                <input type="text" name="firstName" class="form-control"
                                    placeholder="Ingresa tu nombre" required>
                            </div>
                            <div class="invalid-feedback">Campo requerido!</div>
                            <div class="form-group col-md-6">
                                <label>Apellido(s)</label>
                                <input type="text" class="form-control" name="lastName"
                                    placeholder="Ingresa tu apellido" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Correo</label>
                                <input type="email" name="email" class="form-control"
                                    placeholder="Ingresa tu Correo Electrónico" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Selecciona tu género:</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="inlineRadio1"
                                        value="male" required>
                                    <label class="form-check-label" for="inlineRadio1">Masculino</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="inlineRadio2"
                                        value="female" required>
                                    <label class="form-check-label" for="inlineRadio2">Femenino</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Contraseña</label>
                                <input type="password" name="password" id="password" class="form-control"
                                    placeholder="Ingresa tu contraseña" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Confirmar contraseña</label>
                                <input type="password" class="form-control" id="confirm_password"
                                    placeholder="Ingresa tu contrasña nuevamente" required>
                                    <label id="match"></label>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </div>

                    </form>
                    <div class="text-center">
                        <a href="/users/login" target="_blank">¿Ya eres miembro? Inicia Sesión</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>